@import "fonts"
@import "vars"
@import "mixins/mixins"
@import "mixins/mixin"

html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
	margin: 0
	padding: 0
	border: 0
	outline: 0
	font-weight: inherit
	font-style: inherit
	font-size: 100%
	font-family: inherit
	vertical-align: baseline

table
	border-collapse: separate
	border-spacing: 0

caption, th, td
	text-align: left
	font-weight: normal

blockquote
	&:before, &:after
		content: ""

q
	&:before, &:after
		content: ""

a
	color: $white
	text-decoration: none
	&:hover, &:active
		text-decoration: none

b, strong
	font-weight: normal

h1, h2, h3
	font-family: $default-font
	font-weight: normal

.clear
	clear: both
.list-unstyled
	list-style-type: none
.sticky
	position: fixed
section
	min-height: 1200px
$colors: $accent, $green, $blue, $orange
@for $i from 1 through length($colors)
	section:nth-child(#{length($colors)}n+#{$i})
		background-color: nth($colors, $i)